/* footer */
.footer {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 9;

  @media screen and (max-width: 1024px){
    bottom: 20px;
    position: absolute;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 600px){
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 0;

    @media screen and (max-width: 600px){
      display: block;
      text-align: center;
    }

    .social {
      margin-right: 60px;

      @media screen and (max-width: 600px){
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .orangear-logo {
      position: relative;
      top: 2px;

      @media screen and (max-width: 375px){
        svg {
          width: 150px;
          height: auto;
        }
      }
    }
  }

  &__copyright {
    @media screen and (max-width: 600px){
      padding-top: 10px;
    }
  }
}
/* end footer */