/* header */
.header {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9;

  @media screen and (max-width: 860px) and(orientation: landscape){
    top: 20px;
  }
  @media screen and (max-width: 600px){
    top: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* end header */

/* registration */
.registration {
  display: flex;
  align-items: center;
  margin-right: -19px;

  @media screen and (max-width: 600px){
    margin-right: 0;
  }
  
  &__link {
    position: relative;
    cursor: pointer;
    line-height: 1;
    font-size: 12px;
    //letter-spacing: 0.4em;
    letter-spacing: 4px;
    color: #FFFFFF;
    display: block;
    padding: 14px 19px;
    width: 102px;
    white-space: nowrap;
    text-align: center;

    @media screen and (max-width: 600px){
      width: auto;
      padding: 10px;
    }

    & + & {
      margin-left: 20px;

      @media screen and (max-width: 600px){
        margin-left: 10px;
      }
    }

    &:hover {
      .registration__icon-border {
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }
    }
  }

  &__icon-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transform: scale3d(0.76, 0.76, 0.76);
    transition: opacity .15s cubic-bezier(.60,.20,.20,.80), transform .15s cubic-bezier(.60,.20,.20,.80);

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/* end registration */
