body {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  background-color: #000A47;

  @media screen and (max-width: 860px) and(orientation: landscape){
    overflow-y: auto !important;
  }
}
.swiper-container {
  height: 100vh;

  @media screen and (max-width: 860px) and(orientation: landscape){
    overflow-y: auto;
  }
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.5, 0.15, 0.17, 1);

  @media screen and (max-width: 860px) and(orientation: landscape){
    margin-bottom: 300px;
  }
}

.sec {
  display: flex;
  justify-content: center;

  .container {
    display: flex;

    @media screen and (max-width: 1024px){
      flex-direction: column;
      align-items: center;
    }
  }

  &:first-child {

    .title {
      @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-right: 50px;
      }
    }

    .title-hover {
      &::before, &::after {
        transition: left .45s ease-in-out, right .45s ease-in-out, opacity .45s ease-in-out;
      }
    }

    .navigation-mob {
      @media screen and (max-width: 1024px){
        position: relative;
        top: 50px;
      }
    }
  }

  &:last-child {
    .container {
      @media screen and (max-width: 1024px){
        flex-direction: column-reverse;
      }

      .col {
        &:first-child {

          @media screen and (min-width: 601px) and (max-width: 991px) {
            max-width: 50%;
            flex: 1 0 50%;
            padding-right: 0;
          }
        }

        &:last-child {
          @media screen and (min-width: 601px) and (max-width: 991px){
            flex: 1 0 50%;
            max-width: 50%;
            padding-left: 0;
            text-align: left;
          }
        }
      }
    }
  }
}

.sec-reverse {
  .container {
    flex-direction: row-reverse;
  }
}

.container {
  max-width: 1099px;
  width: 100%;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: content-box;

  @media screen and (max-width: 1199px){
    box-sizing: border-box;
  }

  @media screen and (max-width: 1024px){
    padding-left: 15px;
    padding-right: 15px;
  }

  .col {
    &:first-child {
      max-width: 40%;
      flex: 1 0 40%;
      padding-right: 15px;

      @media screen and (max-width: 991px){
        max-width: 100%;
        flex: 1 0 100%;
        padding-right: 0;
        width: 100%;
      }

      .sec-reverse & {
        padding-left: 15px;
        padding-right: 0;
        text-align: center;

        @media screen and (max-width: 991px){
          padding-left: 0;
          text-align: left;
        }
      }
    }

    &:last-child {
      flex: 1 0 60%;
      max-width: 60%;
      padding-left: 15px;
      text-align: center;

      @media screen and (max-width: 991px){
        flex: 1 0 100%;
        max-width: 100%;
        padding-left: 0;
        text-align: left;
        width: 100%;
      }

      .sec-reverse & {
        padding-left: 0;
        padding-right: 15px;

        @media screen and (max-width: 991px){
          padding-right: 0;
        }
      }
    }

    .title {
      display: inline-flex;
      margin-top: 120px;

      @media screen and (min-width: 1025px) and (max-width: 1199px){
        margin-right: 50px;
      }

      @media screen and (min-width: 992px) and (max-width: 1024px){
        margin-top: 0;
        margin-bottom: 20px;
      }
      @media screen and (min-width: 992px) and (max-width: 1024px) and(orientation: landscape){
        margin-top: 0;
        margin-bottom: 5px;
      }
      @media screen and (min-width: 601px) and (max-width: 991px){
        margin-bottom: 30px;
        margin-top: 0;
      }

      @media screen and (min-width: 376px) and (max-width: 600px){
        margin-top: 0;
        margin-bottom: 10px;
      }

      @media screen and (max-width: 375px){
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}

/* title */
.title {
  font-family: "PFDinTextCompPro-Italic", sans-serif;
  line-height: normal;
  font-weight: 300;
  font-size: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;

  @media screen and (min-width: 376px) and (max-width: 600px){
    font-size: 40px;
  }

  @media screen and (max-width: 375px){
    font-size: 30px;
  }

  &-hover {
    position: relative;

    &::before, &::after {
      position: absolute;
      content: '';
      z-index: 1;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      transition: left .35s ease-in-out, right .35s ease-in-out, opacity .35s ease-in-out;
      opacity: 0;

      @media screen and (max-width: 991px){
        display: none;
      }
    }

    &::before {
      top: -20px;
      left: 0;
      right: calc(100% - 150px);
      width: 150px;

      @media screen and (max-width: 991px){
        top: -10px;
      }
    }

    &::after {
      bottom: -20px;
      right: 0;
      left: calc(100% - 80px);
      width: 80px;

      @media screen and (max-width: 991px){
        bottom: -10px;
      }
    }

    &:hover {
      &::before, &::after {
        opacity: 1;
      }

      &::before {
        right: 0;
        left: calc(100% - 150px);
      }

      &::after {
        left: 0;
        right: calc(100% - 80px);
      }
    }
  }

  &.slideInLeftFadeIn {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translate3d(-50%, 0, 0);
    opacity: 0;

    &.animated {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  &.slideInRightFadeIn {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translate3d(50%, 0, 0);
    opacity: 0;

    &.animated {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
/* end title */

/* navigation */
.navigation {
  position: fixed;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 9;

  @media screen and (min-width: 1367px) and (max-width: 1366px){
    right: 30px;
  }

  @media screen and (max-width: 1366px){
    right: 5px;
  }

  @media screen and (max-width: 700px){
    display: none;
  }

  ul {

    li {

      &:not(:last-child) {
        margin-bottom: 40px;

        @media screen and (max-width: 860px) and(orientation: landscape){
          margin-bottom: 15px;
        }
      }

      a {
        font-size: 12px;
        line-height: normal;
        //letter-spacing: 0.4em;
        letter-spacing: 4px;
        color: #FFFFFF;
        writing-mode: vertical-rl;
        transition: text-shadow .15s cubic-bezier(.60,.20,.20,.80);

        @media screen and (max-width: 860px) and(orientation: landscape){
          font-size: 10px;
          letter-spacing: 2px;
        }

        &:hover {
          text-shadow: 0 0 2px #fff;
        }
      }

      &.active {
        a {
          text-shadow: 0 0 2px #fff;
          font-weight: 600;
        }
      }
    }
  }
}
/* end navigation */

/* social */
.social {
  font-size: 0;
  white-space: nowrap;

  &__link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 12px;
    //letter-spacing: 0.4em;
    letter-spacing: 4px;
    color: #FFFFFF;

    @media screen and (max-width: 600px){
      font-size: 10px;
      letter-spacing: 2px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      z-index: 1;
      transition: width .15s cubic-bezier(.60,.20,.20,.80);
    }

    &:hover {
      &::after {
        width: 0;
      }
    }

    & + & {
      margin-left: 20px;
    }
  }
}
/* end social */

/*  copyright */
.copyright {
  line-height: normal;
  font-size: 12px;
  //letter-spacing: 0.4em;
  letter-spacing: 4px;
  color: #FFFFFF;

  @media screen and (max-width: 600px){
    font-size: 10px;
    letter-spacing: 2px;
  }
}
/*  end copyright */

/* frame */
.frame {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(#000A47, .8);
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.2), inset 0px 0px 100px rgba(255, 255, 255, 0.2);
  padding: 60px;

  @media screen and (max-width: 600px){
    padding: 30px;
    display: block;
  }
  @media screen and (max-width: 375px){
    padding: 20px 30px;
  }

  &--width-654 {
    max-width: 654px;
    width: 100%;
  }

  &.slideInLeftFadeIn {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translate3d(-50%, 0, 0);
    //transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

    opacity: 0;

    &.animated {
      transform: translate3d(0, 0, 0);
      //transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 1;
    }
  }

  &.slideInRightFadeIn {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translate3d(50%, 0, 0);
    opacity: 0;

    &.animated {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
/* end frame */

/* list */
.list {
  &__row {
    display: flex;
    align-items: center;

    & + li {
      margin-top: 70px;

      @media screen and (min-width: 992px) and (max-width: 1024px){
        margin-top: 50px;
      }
      @media screen and (min-width: 992px) and (max-width: 1024px) and(orientation: landscape){
        margin-top: 30px;
      }
      @media screen and (min-width: 376px) and (max-width: 600px){
        margin-top: 40px;
      }

      @media screen and (max-width: 375px){
        margin-top: 30px;
      }
    }
  }

  &__icon {
    font-size: 0;
    margin-right: 20px;
    width: 42px;
    text-align: center;

    @media screen and (max-width: 600px){
      width: 30px;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  &__text {
    line-height: normal;
    font-size: 14px;
    //letter-spacing: 0.16em;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;

    @media screen and (min-width: 376px) and (max-width: 600px){
      font-size: 12px;
    }
    @media screen and (max-width: 375px){
      font-size: 10px;
    }
  }
}
/* end list */

/* form */
.form {
  width: 300px;

  @media screen and (max-width: 600px){
    width: 100%;
    //max-width: 300px;
    //margin: auto;
  }

  &__row {
    & + & {
      margin-top: 40px;

      @media screen and (min-width: 992px) and (max-width: 1024px) and(orientation: landscape){
        margin-top: 20px;
      }
      @media screen and (max-width: 600px){
        margin-top: 20px;
      }
    }
  }

  &__group {
    display: block;
    position: relative;

    &._js-focus .form__placeholder {
      top: -20px;
    }

    .line {
      position: absolute;
      content: '';
      z-index: 1;
      background-color: #fff;

      &-left {
        top: 0;
        bottom: 100%;
        left: 0;
        width: 1px;
        transition: bottom .1s linear .7s;
      }

      &-bottom {
        right: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        transition: right .3s linear .4s;
      }

      &-right {
        bottom: 0;
        top: 100%;
        right: 0;
        width: 1px;
        transition: top .1s linear .3s;
      }

      &-top {
        left: 100%;
        right: 0;
        top: 0;
        height: 1px;
        transition: left .3s linear 0s;
      }
    }

    &:focus-within, &._js-focus {
      .line {
        &-left {
          bottom: 0;
          transition: bottom .1s linear 0s;
        }

        &-bottom {
          right: 0;
          transition: right .3s linear .1s;
        }

        &-right {
          top: 0;
          transition: top .1s linear .4s;
        }

        &-top {
          left: 0;
          transition: left .3s linear .5s;
        }
      }
    }
  }

  &__placeholder {
    position: absolute;
    top: 10px;
    left: 20px;
    line-height: normal;
    font-size: 12px;
    //letter-spacing: 0.4em;
    letter-spacing: 4px;
    color: #FFFFFF;
    opacity: 0.3;
    transition: top .15s cubic-bezier(.60,.20,.20,.80) .3s;
  }

  &__control {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: #000A47;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    //letter-spacing: 0.16em;
    letter-spacing: 1.6px;
    color: #FFFFFF;

    &:focus + .form__placeholder {
      top: -20px;
      transition: top .15s cubic-bezier(.60,.20,.20,.80) 0s;
    }
  }

  textarea {
    height: 80px;
    resize: none;
    padding-top: 12px;

    @media screen and (max-width: 375px){
      height: 40px;
    }
  }

  &__recapcha {
    @media screen and (max-width: 375px){
      height: 40px;

      & > * {
        height: 100%;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 40px;
    background: #000A47;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: box-shadow .15s cubic-bezier(.60,.20,.20,.80);

    &:hover {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(255, 255, 255, 0.25);
    }

    span {
      font-size: 14px;
      text-align: center;
      //letter-spacing: 0.16em;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}
/* end form */

/* pagination-btns */
.navigation-mob {
  display: none;

  @media screen and (max-width: 1024px){
    display: block;
    text-align: center;

    .frame & {
      position: absolute;
      top: calc(100% + 20px);
      left: 50%;
    }
  }

  &.slideInLeftFadeIn {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;

    &.animated {
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
  }
  &.slideInRightFadeIn {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translate3d(100%, 0, 0);
    opacity: 0;

    &.animated {
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
  }

  .slash {
    font-weight: 300;
    line-height: 1;
    font-size: 30px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
  }

  & > * {
    vertical-align: middle;
  }
}
.navigation-btn {
  position: relative;
  padding: 10px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
  }

  &-next {
    &::after {
      border-width: 2px 2px 0 0;
      right: 10px;
    }
  }

  &-prev {
    &::after {
      border-width: 0 0 2px 2px;
      left: 10px;
    }
  }
}
/* end pagination-btns */