@font-face {
  font-family: 'PFDinTextCompPro-Italic';
  src: url('../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.woff') format('woff'),
  url('../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.ttf')  format('truetype'),
  url('../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.svg#PFDinTextCompPro-Italic') format('svg');
  font-style: italic;
}
