@font-face {
  font-family: 'PFDinTextCompPro-Italic';
  src: url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.woff") format("woff"), url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.ttf") format("truetype"), url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.svg#PFDinTextCompPro-Italic") format("svg");
  font-style: italic;
}

/* header */

.header {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* end header */

/* registration */

.registration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -19px;
}

.registration__link {
  position: relative;
  cursor: pointer;
  line-height: 1;
  font-size: 12px;
  letter-spacing: 4px;
  color: #FFFFFF;
  display: block;
  padding: 14px 19px;
  width: 102px;
  white-space: nowrap;
  text-align: center;
}

.registration__link + .registration__link {
  margin-left: 20px;
}

.registration__link:hover .registration__icon-border {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.registration__icon-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale3d(0.76, 0.76, 0.76);
  transform: scale3d(0.76, 0.76, 0.76);
  -webkit-transition: opacity 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8), -webkit-transform 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: opacity 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8), -webkit-transform 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: opacity 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8), transform 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: opacity 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8), transform 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8), -webkit-transform 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
}

.registration__icon-border svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* end registration */

body {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  background-color: #000A47;
}

.swiper-container {
  height: 100vh;
}

.swiper-wrapper {
  -webkit-transition-timing-function: cubic-bezier(0.5, 0.15, 0.17, 1);
  transition-timing-function: cubic-bezier(0.5, 0.15, 0.17, 1);
}

.sec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sec .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sec:first-child .title-hover::before,
.sec:first-child .title-hover::after {
  -webkit-transition: left .45s ease-in-out, right .45s ease-in-out, opacity .45s ease-in-out;
  transition: left .45s ease-in-out, right .45s ease-in-out, opacity .45s ease-in-out;
}

.sec-reverse .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.container {
  max-width: 1099px;
  width: 100%;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.container .col:first-child {
  max-width: 40%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  padding-right: 15px;
}

.sec-reverse .container .col:first-child {
  padding-left: 15px;
  padding-right: 0;
  text-align: center;
}

.container .col:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 60%;
  -ms-flex: 1 0 60%;
  flex: 1 0 60%;
  max-width: 60%;
  padding-left: 15px;
  text-align: center;
}

.sec-reverse .container .col:last-child {
  padding-left: 0;
  padding-right: 15px;
}

.container .col .title {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 120px;
}

/* title */

.title {
  font-family: "PFDinTextCompPro-Italic", sans-serif;
  line-height: normal;
  font-weight: 300;
  font-size: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.title-hover {
  position: relative;
}

.title-hover::before,
.title-hover::after {
  position: absolute;
  content: '';
  z-index: 1;
  height: 2px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: left .35s ease-in-out, right .35s ease-in-out, opacity .35s ease-in-out;
  transition: left .35s ease-in-out, right .35s ease-in-out, opacity .35s ease-in-out;
  opacity: 0;
}

.title-hover::before {
  top: -20px;
  left: 0;
  right: -webkit-calc(100% - 150px);
  right: calc(100% - 150px);
  width: 150px;
}

.title-hover::after {
  bottom: -20px;
  right: 0;
  left: -webkit-calc(100% - 80px);
  left: calc(100% - 80px);
  width: 80px;
}

.title-hover:hover::before,
.title-hover:hover::after {
  opacity: 1;
}

.title-hover:hover::before {
  right: 0;
  left: -webkit-calc(100% - 150px);
  left: calc(100% - 150px);
}

.title-hover:hover::after {
  left: 0;
  right: -webkit-calc(100% - 80px);
  right: calc(100% - 80px);
}

.title.slideInLeftFadeIn {
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
}

.title.slideInLeftFadeIn.animated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.title.slideInRightFadeIn {
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  opacity: 0;
}

.title.slideInRightFadeIn.animated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* end title */

/* navigation */

.navigation {
  position: fixed;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9;
}

.navigation ul li:not(:last-child) {
  margin-bottom: 40px;
}

.navigation ul li a {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 4px;
  color: #FFFFFF;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transition: text-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: text-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
}

.navigation ul li a:hover {
  text-shadow: 0 0 2px #fff;
}

.navigation ul li.active a {
  text-shadow: 0 0 2px #fff;
  font-weight: 600;
}

/* end navigation */

/* social */

.social {
  font-size: 0;
  white-space: nowrap;
}

.social__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.social__link::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: width 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: width 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
}

.social__link:hover::after {
  width: 0;
}

.social__link + .social__link {
  margin-left: 20px;
}

/* end social */

/*  copyright */

.copyright {
  line-height: normal;
  font-size: 12px;
  letter-spacing: 4px;
  color: #FFFFFF;
}

/*  end copyright */

/* frame */

.frame {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(0, 10, 71, 0.8);
  -webkit-box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.2), inset 0px 0px 100px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.2), inset 0px 0px 100px rgba(255, 255, 255, 0.2);
  padding: 60px;
}

.frame--width-654 {
  max-width: 654px;
  width: 100%;
}

.frame.slideInLeftFadeIn {
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
}

.frame.slideInLeftFadeIn.animated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.frame.slideInRightFadeIn {
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  opacity: 0;
}

.frame.slideInRightFadeIn.animated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* end frame */

/* list */

.list__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list__row + li {
  margin-top: 70px;
}

.list__icon {
  font-size: 0;
  margin-right: 20px;
  width: 42px;
  text-align: center;
}

.list__text {
  line-height: normal;
  font-size: 14px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
}

/* end list */

/* form */

.form {
  width: 300px;
}

.form__row + .form__row {
  margin-top: 40px;
}

.form__group {
  display: block;
  position: relative;
}

.form__group._js-focus .form__placeholder {
  top: -20px;
}

.form__group .line {
  position: absolute;
  content: '';
  z-index: 1;
  background-color: #fff;
}

.form__group .line-left {
  top: 0;
  bottom: 100%;
  left: 0;
  width: 1px;
  -webkit-transition: bottom .1s linear .7s;
  transition: bottom .1s linear .7s;
}

.form__group .line-bottom {
  right: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  -webkit-transition: right .3s linear .4s;
  transition: right .3s linear .4s;
}

.form__group .line-right {
  bottom: 0;
  top: 100%;
  right: 0;
  width: 1px;
  -webkit-transition: top .1s linear .3s;
  transition: top .1s linear .3s;
}

.form__group .line-top {
  left: 100%;
  right: 0;
  top: 0;
  height: 1px;
  -webkit-transition: left .3s linear 0s;
  transition: left .3s linear 0s;
}

.form__group:focus-within .line-left,
.form__group._js-focus .line-left {
  bottom: 0;
  -webkit-transition: bottom .1s linear 0s;
  transition: bottom .1s linear 0s;
}

.form__group:focus-within .line-bottom,
.form__group._js-focus .line-bottom {
  right: 0;
  -webkit-transition: right .3s linear .1s;
  transition: right .3s linear .1s;
}

.form__group:focus-within .line-right,
.form__group._js-focus .line-right {
  top: 0;
  -webkit-transition: top .1s linear .4s;
  transition: top .1s linear .4s;
}

.form__group:focus-within .line-top,
.form__group._js-focus .line-top {
  left: 0;
  -webkit-transition: left .3s linear .5s;
  transition: left .3s linear .5s;
}

.form__placeholder {
  position: absolute;
  top: 10px;
  left: 20px;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 4px;
  color: #FFFFFF;
  opacity: 0.3;
  -webkit-transition: top 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8) 0.3s;
  transition: top 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8) 0.3s;
}

.form__control {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: #000A47;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}

.form__control:focus + .form__placeholder {
  top: -20px;
  -webkit-transition: top 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8) 0s;
  transition: top 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8) 0s;
}

.form textarea {
  height: 80px;
  resize: none;
  padding-top: 12px;
}

.form__btn {
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 40px;
  background: #000A47;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: -webkit-box-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: box-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
  transition: box-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8), -webkit-box-shadow 0.15s cubic-bezier(0.6, 0.2, 0.2, 0.8);
}

.form__btn:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(255, 255, 255, 0.25);
}

.form__btn span {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* end form */

/* pagination-btns */

.navigation-mob {
  display: none;
}

.navigation-mob.slideInLeftFadeIn {
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.navigation-mob.slideInLeftFadeIn.animated {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}

.navigation-mob.slideInRightFadeIn {
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.navigation-mob.slideInRightFadeIn.animated {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}

.navigation-mob .slash {
  font-weight: 300;
  line-height: 1;
  font-size: 30px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
}

.navigation-mob > * {
  vertical-align: middle;
}

.navigation-btn {
  position: relative;
  padding: 10px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.navigation-btn::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-color: #fff;
}

.navigation-btn-next::after {
  border-width: 2px 2px 0 0;
  right: 10px;
}

.navigation-btn-prev::after {
  border-width: 0 0 2px 2px;
  left: 10px;
}

/* end pagination-btns */

/* footer */

.footer {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 9;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
}

.footer__info .social {
  margin-right: 60px;
}

.footer__info .orangear-logo {
  position: relative;
  top: 2px;
}

/* end footer */

@media screen and (max-width: 1366px) {
  .navigation {
    right: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {
  .sec .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sec:first-child .navigation-mob {
    position: relative;
    top: 50px;
  }

  .sec:last-child .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation-mob {
    display: block;
    text-align: center;
  }

  .frame .navigation-mob {
    position: absolute;
    top: -webkit-calc(100% + 20px);
    top: calc(100% + 20px);
    left: 50%;
  }

  .footer {
    bottom: 20px;
    position: absolute;
  }
}

@media screen and (max-width: 991px) {
  .container .col:first-child {
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-right: 0;
    width: 100%;
  }

  .sec-reverse .container .col:first-child {
    padding-left: 0;
    text-align: left;
  }

  .container .col:last-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: left;
    width: 100%;
  }

  .sec-reverse .container .col:last-child {
    padding-right: 0;
  }

  .title-hover::before,
  .title-hover::after {
    display: none;
  }

  .title-hover::before {
    top: -10px;
  }

  .title-hover::after {
    bottom: -10px;
  }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  .header {
    top: 20px;
  }

  body {
    overflow-y: auto !important;
  }

  .swiper-container {
    overflow-y: auto;
  }

  .swiper-wrapper {
    margin-bottom: 300px;
  }

  .navigation ul li:not(:last-child) {
    margin-bottom: 15px;
  }

  .navigation ul li a {
    font-size: 10px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 700px) {
  .navigation {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    top: 20px;
  }

  .registration {
    margin-right: 0;
  }

  .registration__link {
    width: auto;
    padding: 10px;
  }

  .registration__link + .registration__link {
    margin-left: 10px;
  }

  .social__link {
    font-size: 10px;
    letter-spacing: 2px;
  }

  .copyright {
    font-size: 10px;
    letter-spacing: 2px;
  }

  .frame {
    padding: 30px;
    display: block;
  }

  .list__icon {
    width: 30px;
  }

  .list__icon svg {
    width: 100%;
    height: auto;
  }

  .form {
    width: 100%;
  }

  .form__row + .form__row {
    margin-top: 20px;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__info {
    display: block;
    text-align: center;
  }

  .footer__info .social {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__copyright {
    padding-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container .col .title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .title {
    font-size: 30px;
  }

  .frame {
    padding: 20px 30px;
  }

  .list__row + li {
    margin-top: 30px;
  }

  .list__text {
    font-size: 10px;
  }

  .form textarea {
    height: 40px;
  }

  .form__recapcha {
    height: 40px;
  }

  .form__recapcha > * {
    height: 100%;
  }

  .footer__info .orangear-logo svg {
    width: 150px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sec:first-child .title {
    margin-right: 50px;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .sec:last-child .container .col:first-child {
    max-width: 50%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding-right: 0;
  }

  .sec:last-child .container .col:last-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding-left: 0;
    text-align: left;
  }

  .container .col .title {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .container .col .title {
    margin-right: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .container .col .title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .list__row + li {
    margin-top: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
  .container .col .title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .list__row + li {
    margin-top: 30px;
  }

  .form__row + .form__row {
    margin-top: 20px;
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .container .col .title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .title {
    font-size: 40px;
  }

  .list__row + li {
    margin-top: 40px;
  }

  .list__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1366px) {
  .navigation {
    right: 30px;
  }
}